<main>
  <div id="about" class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="../img/drinkonetime.jpg" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">시음회</h1>
        <p>
          <dl>
            <dt><h4>기획의도</h4></dt>
            <dd>
              <ol>
                <li>
                  충주 전통주 홍보
                  <br>
                  <ul>
                    <li>충주는 22개의 양조장이 밀집되어 있는 곳으로 전통주로서 매력을 충분히 끌 수 있는 지역임.</li>
                    <li>전통주 시음회를 통해 충주에 다양한 종류의 전통주를 홍보하고, 충주 전통주만의 매력을 알리고자 함.</li>
                  </ul>
                </li>
                <li>
                  참여연령층 확대를 통한 시장 활성화
                  <br>
                  <ul>
                    <li>최근 젊은 세대를 중심으로 전통주를 즐기고 선물하는 트렌드가 확산됨..</li>
                    <li>에 관심이 높은 젊은 세대의 유입을 통해 전통시장 활성화에 기여하고자 함. </li>
                  </ul>
                </li>
              </ol>
            </dd>
          </dl>

          <br>

          <dl>
            <dt><h4>특징</h4></dt>
            <dd>
              <ol>
                <li>전통주 접근의 용이성을 높이기 위해 부담스럽지 않은 가격대의 전통주를 선정함.</li>
                <li>다양한 연령층에서 만족할 수 있도록 연령층 별 선호하는 전통주로 구성함.</li>
              </ol>
            </dd>
          </dl>

          <br>

          <dl>
            <dt><h4>운영방식</h4></dt>
            <dd>
              <ol>
                <li>선정된 5개의 전통주를 설명이 담긴 포스터와 함께 전시하여 방문객들에게 전통주에 대한 정보를 제공 </li>
                <li>리플릿에 전통주에 대한 정보도 기재</li>
                <li>각 전통주에 대한 설명을 함께해주며 전통주 시음을 진행</li>
              </ol>
            </dd>
          </dl>
        </p>
      </div>
    </div>
  </div>
</main>
