<main>
  <div id="about" class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="../img/game1.jpg" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">스탬프</h1>
        <p>
          <br>
          <dl>
            <dt><h4>운영방식</h4></dt>
            <dd>➯ 스탬프 투어</dd>
            <dd>
              <ol>
                <li>방문객이 각 놀이 프로그램 참여</li>
                <li>리플릿에 첨부된 스탬프 투어 판에 해당 놀이 프로그램 스탬프 받기</li>
                <li> 5개의 스탬프를 모은 후 종합안내 부스에서 경품 뽑기 진행 </li>
              </ol>
            </dd>
          </dl>
        </p>
      </div>

      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="../img/game.jpg" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">막걸리 볼링</h1>
        <p>
          <br>
          <dl>
            <dt><h4>운영방식</h4></dt>
            <dd>
              <ol>
                <li>지정된 선에서 볼링공을 굴려 볼링 핀을 맞추기</li>
                <li>6개의 볼링핀 중 모두 쓰러트릴 경우, 스탬프 두 개 부여, 4개 이상 쓰러트릴 경우, 한 개의 스탬프 부여 </li>
              </ol>
            </dd>
          </dl>
        </p>
      </div>

      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="../img/game3.jpg" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">엿치기</h1>
        <p>
          <br>
          <dl>
            <dt><h4>특징</h4></dt>
            <dd>
              <ol>
                <li>엿치기놀이는 엿이 딱딱하게 잘 굳는 추운 계절에 주로 즐김</li>
                <li>남녀노소 누구나 쉽게 놀이에 참여할 수 있음 </li>
              </ol>
            </dd>
          </dl>

          <br>

          <dl>
            <dt><h4>운영방식</h4></dt>
            <dd>
              <ol>
                <li>방문객들끼리 두 명씩 짝을 이루어 대결을 하거나 방문객과 스태프가 대결을 진행</li>
                <li>가락엿을 부러트려서 단면에 난 구멍의 크기(또는 개수)가 더 큰 사람이 승리</li>
                <li>이긴 사람에게 스탬프 한 개 부여</li>
              </ol>
            </dd>
          </dl>
        </p>
      </div>
    </div>
  </div>
</main>
