<!-- views/index.ejs -->

<!-- MAIN 페이지 내용 -->
<main class="text-center">
  <div  id="index" class=" text-white text-center">
    <!-- 부모 요소에 대해서도 text-center 클래스 추가 -->
    <div class="cover-box-2">
      <p class="page-description lead">
        정과 덤이 넘치는
      </p>
      <h1 class="page-title"> 전통 무학 시장</h1>
    </div>
  </div>
</main>
