<!-- layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>충주 무학시장</title>

    <link rel="stylesheet" href="/css/style.css" />

    <link
      rel="stylesheet"
      media="(max-width: 768px)"
      href="/css/style.small.css"/>
      
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('_partials/_header') %> 
    <%- body %>
    <%-include('_partials/_footer') %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.7.0.slim.js"></script>
    
    <!-- Popper Development version -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <!-- Popper Production version
    <script src="https://unpkg.com/@popperjs/core@2"></script> -->

    <!-- Bootstrap -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- @TODO: JS 파일에 대한 script테그를 완성하십시오 -->
    <script src="/js/functions.js"></script>
  </body>
</html>
