<!-- views/partials/footer.ejs -->

<!-- FOOTER -->
<footer class="text-center bg-dark text-bg-dark">
  <p class="ut-black">
    <span class="text-white">&copy; 2024</span> 국립 한국 교통대학교
  </p>
</footer>
