<!-- views/partials/header.ejs -->

<!-- HEADER -->
<header class="header">
  <div class="container">
    <div class="container-left">
      <!-- 로고 -->
      <figure class="logo">
        <a href="/" style="display: flex;">
          <!-- <img style="width: 30px;" src="https://i.namu.wiki/i/qDeCugYzkZIBe2PVrCwdt7-JwNe_tBo5QBRv2lu6TbJRp49MSumEu_WejrxNJ1Wx88RegxL7Jgn5m236NYvTWQ.webp"/> -->
          <h1 class="site-title">무학시장 마켓터즈
          </h1>
        </a>
      </figure>

      <!-- 메뉴 -->
      <%- include('_navigation.ejs') %>

      <% if (loggedIn) { %>
        <a class="btn btn-outline-secondary"
        href="<%= `/users/${currentUser._id}` %>">
          <%= currentUser.username %>
        </a>
        <a class="btn ut-red" href="/users/logout">로그아웃</a>
      <% } else { %>
        <a class="btn btn-outline-secondary" href ="/users/login">로그인</a>
        <a class="btn ut-red" href="/users/new">회원가입</a>
      <% } %> 
    </div>
  </div>
</header>
