<!-- views/partials/navigation.ejs -->

<!-- 메뉴 -->
<nav class="menu">
  <ul class="nav-bar nav drop">
    <li class="nav-item ">
      <a class="nav-link menu-item" name="About" href="/about">전통시장 리플레이톤</a>
      <ul class="submenu">
        <a href="/about">
          <li>소개</li>
        </a>
        <a href="/address">
          <li>주소</li>
        </a>
      </ul>
    </li>
    <li class="nav-item ">
      <a class="nav-link menu-item" href="/game">활동
      </a>
      <ul class="submenu">
        <a href="/game">
          <li>게임</li>
        </a>
        <a href="/onedayclass">
          <li>원데이 클래스</li>
        </a>
        <a href="/drinkonetime">
          <li>시음회</li>
        </a>
      </ul>
    </li>
    <li class="nav-item">
      <a
        class="menu-item nav-link"
        name="Courses"
        href="/courses"
        >전통주 소개</a
      >
  </ul>
</nav>

<!-- 반응형 메뉴 버튼 -->
<div id="menu-button">Menu</div>
